---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
import 'animate.css';
import '@fontsource/urbanist/100.css';
import '@fontsource/urbanist/200.css';
import '@fontsource/urbanist/300.css';
import '@fontsource/urbanist/400.css';
import '@fontsource/urbanist/500.css';
import '@fontsource/urbanist/600.css';
import '@fontsource/urbanist/700.css';
import '@fontsource/urbanist/800.css';
import '@fontsource/urbanist/900.css';
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Template built with tailwindcss using Tailus blocks v2">
		<title>akshay.</title>
	</head>
	<body class="bg-white dark:bg-gray-900">
		<AppHeader/>
		<slot />
		<!-- <AppFooter/> -->
	</body>
</html>
<style>
	html,body {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>